body {
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
}

.pokemons-container {
  margin: 0;
  height: 100vh;
}

.header__logo {
  width: 250px;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
}

a:hover {
  color: #ffcc01;
  transition: 0.2s;
}

.pokemon-basic-info__name a {
  color: black;
}

ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  position: sticky;
  border-bottom: 1px solid #ffcc01;
}

.pokemon-basic-info {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-list {
  display: grid;
  grid-column: 5;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0;
}

span {
  color: #ffff;
  font-size: 18px;
  font-weight: bold;
}

.pokemon-details-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 35px;
}

.fa-heart,
.fa-arrow-left-long {
  font-size: 25px;
}

.fa-heart:hover,
.fa-arrow-left-long:hover {
  color: #ffcc01;
  cursor: pointer;
}

.pokemon-details-card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
}

.pokemon-basic-info__name {
  font-size: 1.7rem;
  font-weight: bold;
  color: #ffcc01;
}

.pokemon-details-card__header img {
  width: 250px;
  height: auto;
  margin-top: -20px;
}

.pokemon-details-card__stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: -20px;
}

span.pokemon-basic-info__stat {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
}
