body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.pokemons-container {
  margin: 0;
  height: 100vh;
  background-image: url(https://wallpapercave.com/dwp2x/wp2595112.jpg);
}

.header__logo {
  width: 250px;
  height: auto;
}

a {
  text-decoration: none;
  color: #ffff;
  font-size: 1.3rem;
  font-weight: bold;
}

a:hover {
  color: #ffcc01;
  transition: 0.2s;
}

ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: rgb(2, 48, 82, 55%);
  position: sticky;
}
